<!doctype html>
<html lang="en" ng-app="flaskSPA">
<head>
    <meta charset="utf-8">
    <title>Flask Project</title>
  
    <link rel="stylesheet" href="pages/mainPage/css/app.css">
</head>

<body>
<div id="header">
    <div>
        <h1>Shutter Bug</h1>
        <h2>Home Page</h2>
    </div>
    <img src="pages/mainPage/images/camera.png" width='300px'>
</div>
</br>

<a href="/login">
    <div id="content">
            <h3>LOGIN</h3>
    </div>
</a>
    </br>
<a href="/register">
    <div  id="content">
        <h3>SIGN UP</h3>
    </div>    
</a>
</body>
</html>
